<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <a href="https://github.com/cuit-zhaxin/hexo-theme-athena" target="_blank">Athena
</a> improved by <a href="http://gameeer.com/"><%= config.author || config.title %></a> | Powered by <a href="http://hexo.io/" target="_blank">Hexo</a> 蜀ICP备14005212号-2
    </div>
  </div>
</footer>